[submodule "acf-jacinto"]
	path = acf-jacinto
	url = https://git.ti.com/git/jacinto-ai-devkit/acf-jacinto.git
	branch = master
[submodule "caffe-jacinto"]
	path = caffe-jacinto
	url = https://git.ti.com/git/jacinto-ai-devkit/caffe-jacinto.git
	branch = master
[submodule "caffe-jacinto-models"]
	path = caffe-jacinto-models
	url = https://git.ti.com/git/jacinto-ai-devkit/caffe-jacinto-models.git
	branch = master
[submodule "pytorch-jacinto-ai-devkit"]
	path = pytorch-jacinto-ai-devkit
	url = https://git.ti.com/git/jacinto-ai-devkit/pytorch-jacinto-ai-devkit.git
	branch = master
[submodule "pytorch-mmdetection"]
	path = pytorch-mmdetection
	url = https://git.ti.com/git/jacinto-ai-devkit/pytorch-mmdetection.git
	branch = master
